<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.pfcp.common.mapper.KakaoPayMapper">
	<insert id="insertTid">
		INSERT INTO KAKAO_PAY_ORDER (
			ORDER_ID
			, TID
			, USER_NO
		) VALUES (
			#{orderId}
			, #{tid}
			, #{userNo}
		)
	</insert>
	
	<select id="selectTid">
		SELECT ORDER_ID
			   , TID
			   , USER_NO
			   , CREATED_AT
		  FROM KAKAO_PAY_ORDER 
		 WHERE ORDER_ID = #{orderId}
	</select>
</mapper>